<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>uk.co.sgenomics.OnyxLoaderHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OnyxLoaderHelper</string>
	<key>CFBundleVersion</key>
	<string>0.6.6</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier uk.co.sgenomics.OnyxLoader and certificate leaf[subject.CN] = &quot;OnyxLoader&quot;</string>
	</array>
</dict>
</plist>
